//- ---------------------------- paginador ------------------------------- //
mixin link(href, name)
	//- attributes == {class: "btn"}
	a(href=href)= name
	
	//- +link('/foo', 'foo')(class="btn")

mixin paginador(linkatras, class1, Anterior, linkadelante, class2, Siguiente)
	div.container-fluid
		div.row-fluid
			ul.pager
				li.previous
					a(href=linkatras class=class1)= Anterior
				li.next
					a(href=linkadelante class=class2)= Siguiente

//- ---------------------------- ejemplos ------------------------------- //					
mixin ejemplos(urlimg, alttext, classimg, titulo, enlaceSVG, enlacePNG)
	div
		img(src=urlimg alt=alttext class=classimg)
		h5= titulo
		div.downloads
			a.download(href=enlaceSVG)  SVG
			a.download(href=enlacePNG)  PNG

//- ---------------------------- titles big ------------------------------- //
mixin big-titles(small, big)
	div.big-titles
		h5= small
		h1= big
		
//- ---------------------------- cards 1 with icon ------------------------------- //
mixin container-cards-img(urlimg, alttext, title, description, href, link)
	div.container-cards
		img(src=urlimg alt=alttext)
		h3= title
		p= description
		a(href=href)= link
		
		
mixin cards-img(urlimg, alttext, title, description, href, link)
	div
		div: img(src=urlimg alt=alttext)
		div
			h3= title
			p= description
			a(href=href)= link 

//- ---------------------------- footer ------------------------------- //
mixin fn(name)
	if name == "amit"
		h2 Hello
	else
		h4 World
//- +fn("amit")

mixin footer-block(footer)
	if footer == "footer-pages"
		footer.pages
			//- Left elements
			div.left
				a(href='../') 
					span Inicio
				a(href='https://www.uelbosque.edu.co/creacion-y-comunicacion' target='_blank') 
					span Acerca de la facultad de diseño y comunicación
				a(href='http://masdlab.co/' target='_blank') 
					span Masdlab
				a(href='http://centrodiseno.unbosque.edu.co/' target='_blank') 
					span Centro de diseño
					
			div.right
				p FACULTAD DE DISEÑO Y COMUNICACIÓN UNIVERSIDAD EL BOSQUE  ·  Edificio Fundadores Av. Cra 9 No. 131 A - 02 · Línea Gratuita 018000 113033 · PBX (571) 6489000
				a(href='https://www.facebook.com/FaCyCElBosque' target='_blank')
					img(src="../images/svg/facebook-orange.svg" alt="Facebook")
				a(href='https://www.instagram.com/facycelbosque' target='_blank')
					img(src="../images/svg/instagram-orange.svg" alt="Instagram")
				//-a(href='../index.html' target='_blank')
					img(src="../images/svg/twitter-orange.svg" alt="Twitter")
	else
		//- Footer content	
		footer.home
			//- Left elements
			div.left
				a(href='../') 
					span Inicio
				a(href='https://www.uelbosque.edu.co/creacion-y-comunicacion' target='_blank') 
					span Acerca de la facultad de diseño y comunicación
				a(href='http://masdlab.co/' target='_blank') 
					span Masdlab
				a(href='http://centrodiseno.unbosque.edu.co/' target='_blank') 
					span Centro de diseño
					
			div.right
				p FACULTAD DE DISEÑO Y COMUNICACIÓN UNIVERSIDAD EL BOSQUE  ·  Edificio Fundadores Av. Cra 9 No. 131 A - 02 · Línea Gratuita 018000 113033 · PBX (571) 6489000
				a(href='https://www.facebook.com/FaCyCElBosque' target='_blank')
					img(src="images/svg/facebook-white.svg" alt="Facebook")
				a(href='https://www.instagram.com/facycelbosque' target='_blank')
					img(src="images/svg/instagram-white.svg" alt="Instagram")
				//-a(href='../index.html' target='_blank')
					img(src="images/svg/twitter-white.svg" alt="Twitter")