//- ---------------------------- paginador ------------------------------- //
mixin link(href, name)
	//- attributes == {class: "btn"}
	a(href=href)= name
	
	//- +link('/foo', 'foo')(class="btn")

mixin paginador(linkatras, class1, Anterior, linkadelante, class2, Siguiente)
	div.container-fluid
		div.row-fluid
			ul.pager
				li.previous
					a(href=linkatras class=class1)= Anterior
				li.next
					a(href=linkadelante class=class2)= Siguiente

//- ---------------------------- ejemplos ------------------------------- //					
mixin ejemplos(urlimg, alttext, classimg, titulo, enlaceSVG, enlacePNG)
	div
		img(src=urlimg alt=alttext class=classimg)
		h5= titulo
		div.downloads
			a.download(href=enlaceSVG download)  SVG
			a.download(href=enlacePNG download)  PNG

//- ---------------------------- titles big ------------------------------- //
mixin big-titles(small, big)
	div.big-titles
		h5= small
		h1= big
		
//- ---------------------------- cards 1 with icon ------------------------------- //
mixin container-cards-img(urlimg, alttext, title, description, href, link)
	div.container-cards
		img(src=urlimg alt=alttext)
		h3= title
		p= description
		a(href=href)= link
		
		
mixin cards-img(urlimg, alttext, title, description, href, link)
	div
		div: img(src=urlimg alt=alttext)
		div
			h3= title
			p= description
			a(href=href)= link 

//- ---------------------------- Side menu ------------------------------- //
									
mixin nav
	div.menu-side
		ul#top-menu
			each project in projects
				li: a(href=project.link)= project.name
				
								

//- ---------------------------- Accordion ------------------------------- //
mixin accordion(id)
	.panel-group(id="accordion"+id, role="tablist", aria-multiselectable="true")
		block

//- accordion-item
mixin accordion-item(type,title,parent,expanded)
	-var id = title.replace(/[^a-zA-Z0-9]/g,'_')
	.panel(class="panel-"+type)
		.panel-heading(role="tab", id="heading"+title)
			h4.panel-title
				a(data-toggle="collapse", data-parent="#accordion"+parent, href="#collapse"+id, aria-expanded="true" ,aria-controls="collapseOne")
					= title
		unless expanded
			.panel-collapse.collapse(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block
		else
			.panel-collapse.collapse.in(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block

//- accordion-item-default
mixin accordion-item-default(title,parent,expanded)
	+accordion-item("default",title,parent,expanded)
		block

//- accordion-item-primary
mixin accordion-item-primary(title,parent,expanded)
	+accordion-item("primary",title,parent,expanded)
		block

//- accordion-item-info
mixin accordion-item-info(title,parent,expanded)
	+accordion-item("info",title,parent,expanded)
		block

//- accordion-item-success
mixin accordion-item-success(title,parent,expanded)
	+accordion-item("success",title,parent,expanded)
		block

//- accordion-item-warning
mixin accordion-item-warning(title,parent,expanded)
	+accordion-item("warning",title,parent,expanded)
		block

//- accordion-item-danger
mixin accordion-item-danger(title,parent,expanded)
	+accordion-item("danger",title,parent,expanded)
		block

//- usage

//- +accordion("sample")
//- 	+accordion-item-primary("Logotipo Facultad de Ciencias Vigilada Mineducación","sample","true")
//- 		|  This is first accordion content
//- 	+accordion-item-default("Title2","sample")
//- 		|  This is second accordion content
//- 	+accordion-item-default("Title3","sample")
//- 		|  This is third accordion content


//- +accordion("sample")
//- 	+accordion-item-default("Collapsible Group Item #1","sample","true")
//- 		div
//- 	+accordion-item-default("Collapsible Group Item #2","sample")
//- 		div
//- 	+accordion-item-default("Collapsible Group Item #3","sample")
//- 		div


//- ------------------ TABS
//- ------------------
mixin tabs(tabsItems)
	- var tabActive = function (t) { return t.active ? 'active' : '' }
	
	mixin tab(index)
		- tabsItems[index].body = block;
		
	block
	
	- tabsItems[0].active = tabsItems[0].active || !tabsItems.some(function (t) { return t.active; })
	
	div
		ul.nav.nav-tabs(role="tablist")
			each tab, index in tabsItems
				li(role="presentation", class=tabActive(tab))
					a(href="#"+"tab-id-" + index, aria-controls="tab-id-" + index, role="tab", data-toggle="tab")
						if tab.icon
							span.icon(class=tab.icon)
						span= tab.title
					
		.tab-content
			each tab, index in tabsItems
				.tab-pane(id="tab-id-" + index, role="tabpanel", class=tabActive(tab))
					- tab.body && tab.body()
					
// usage example
//- -
//- 	var data = [
//- 		{ title: 'Tab 1' },
//- 		{ title: 'Tab 2', active: true },
//- 		{ title: 'Tab 3' },
//- 		{ title: 'Tab 4' }
//- 	];
//- 	
//- +tabs(data)
//- 	each tab, index in data
//- 		+tab(index)
//- 			h2= this.title


//- --------------------- Card colors
//- ---------------------
mixin card-colors(colortitle, color, pantone, cmyk, hex, rgb)
	div.card.colors
		div(id=color)
		|     
		div.card-body
			h4.card-title= colortitle
			|  
			div.txt 
				h5.card-text
					| Pantone®
				p= pantone 
			div.txt 
				h5.card-text
					| CMYK
				p= cmyk
			div.txt 
				h5.card-text
					| HEX
				p= hex
			div.txt 
				h5.card-text
					| RGB
				p= rgb
				
				
mixin ejemplos(urlimg, alttext, classimg, titulo, enlaceSVG, enlacePNG)
	div
		img(src=urlimg alt=alttext class=classimg)
		h5= titulo
		div.downloads
			a.download(href=enlaceSVG download)  SVG
			a.download(href=enlacePNG download)  PNG

				

//- --------------------- Card for each N to downloads
//- ---------------------			
mixin download-n-files(download_items)
	each download_element in download_items
		div(class=download_element.class_container)
			img(src=download_element.url_img alt=download_element.alt_text class=download_element.class_img)
			h5= download_element.titulo_h5
			div.downloads
				a.download(href=download_element.link)= download_element.link_title
			

//- mixin card-colors(color_title, color, pantone, cmyk, hex, rgb)

mixin card-color(color_info) 
	each color_element in color_info
		div.card.colors
			div(id=color_element.color_ID)
			div.card-body
				div.txt-header
					h4.card-title= color_element.color_title
				div.txt-container
					div.txt 
						h5.card-text
							| Pantone®
						p= color_element.pantone 
					div.txt 
						h5.card-text
							| CMYK
						p= color_element.cmyk
					div.txt 
						h5.card-text
							| HEX
						p= color_element.hex
					div.txt 
						h5.card-text
							| RGB
						p= color_element.rgb			
						
						
						
						
//- ---------------------------- Tables Actualizaciones ------------------------------- //

// initialization
- blocks = {}

mixin set(key)
	- blocks[key] = this.block

// mixin definition
mixin tables-containers-actualizaciones
	table.table.table-striped.actualizaciones
		thead
			//- - blocks.thead()
			tr
				th fecha
				th versión
				th notas
		block
		tbody
			- blocks.tr()
			
			
			
			
//- ---------------------------- Acciones image + caption ------------------------------- //
mixin image-caption(image_items)
	each image_element in image_items
		div(class=image_element.class_container)
			img(src=image_element.url_img alt=image_element.alt_text class=image_element.class_img)
			div
				h3= image_element.titulo
				p= image_element.texto
				
				
				
				
				
				