//- ---------------------------- paginador ------------------------------- //
mixin link(href, name)
	//- attributes == {class: "btn"}
	a(href=href)= name
	
	//- +link('/foo', 'foo')(class="btn")

mixin paginador(linkatras, class1, Anterior, linkadelante, class2, Siguiente)
	div.container-fluid
		div.row-fluid
			ul.pager
				li.previous
					a(href=linkatras class=class1)= Anterior
				li.next
					a(href=linkadelante class=class2)= Siguiente

//- ---------------------------- ejemplos ------------------------------- //					
mixin ejemplos(urlimg, alttext, classimg, titulo, enlaceSVG, enlacePNG)
	div
		img(src=urlimg alt=alttext class=classimg)
		h5= titulo
		div.downloads
			a.download(href=enlaceSVG)  SVG
			a.download(href=enlacePNG)  PNG

//- ---------------------------- titles big ------------------------------- //
mixin big-titles(small, big)
	div.big-titles
		h5= small
		h1= big
		
//- ---------------------------- cards 1 with icon ------------------------------- //
mixin container-cards-img(urlimg, alttext, title, description, href, link)
	div.container-cards
		img(src=urlimg alt=alttext)
		h3= title
		p= description
		a(href=href)= link
		
		
mixin cards-img(urlimg, alttext, title, description, href, link)
	div
		div: img(src=urlimg alt=alttext)
		div
			h3= title
			p= description
			a(href=href)= link 

//- ---------------------------- Side menu ------------------------------- //
									
mixin nav
	div.menu-side
		ul#top-menu
			each project in projects
				li: a(href=project.link)= project.name
				
								

//- ---------------------------- Accordion ------------------------------- //
mixin accordion(id)
	.panel-group(id="accordion"+id, role="tablist", aria-multiselectable="true")
		block

//- accordion-item
mixin accordion-item(type,title,parent,expanded)
	-var id = title.replace(/[^a-zA-Z0-9]/g,'_')
	.panel(class="panel-"+type)
		.panel-heading(role="tab", id="heading"+title)
			h4.panel-title
				a(data-toggle="collapse", data-parent="#accordion"+parent, href="#collapse"+id, aria-expanded="true" ,aria-controls="collapseOne")
					= title
		unless expanded
			.panel-collapse.collapse(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block
		else
			.panel-collapse.collapse.in(id="collapse"+id, role="tabpanel", aria-labelledby="heading"+title)
				.panel-body
					block

//- accordion-item-default
mixin accordion-item-default(title,parent,expanded)
	+accordion-item("default",title,parent,expanded)
		block

//- accordion-item-primary
mixin accordion-item-primary(title,parent,expanded)
	+accordion-item("primary",title,parent,expanded)
		block

//- accordion-item-info
mixin accordion-item-info(title,parent,expanded)
	+accordion-item("info",title,parent,expanded)
		block

//- accordion-item-success
mixin accordion-item-success(title,parent,expanded)
	+accordion-item("success",title,parent,expanded)
		block

//- accordion-item-warning
mixin accordion-item-warning(title,parent,expanded)
	+accordion-item("warning",title,parent,expanded)
		block

//- accordion-item-danger
mixin accordion-item-danger(title,parent,expanded)
	+accordion-item("danger",title,parent,expanded)
		block

//- usage


//- +accordion("sample")
//- 	+accordion-item-default("Collapsible Group Item #1","sample","true")
//- 		div
//- 	+accordion-item-default("Collapsible Group Item #2","sample")
//- 		div
//- 	+accordion-item-default("Collapsible Group Item #3","sample")
//- 		div
				
	